@model List<CategoryDto>

<div class="container-xxl flex-grow-1 container-p-y">


    <h4 class="py-3 mb-4">
        <span class="text-muted fw-light">Kategori Yönetimi /</span> Kategoriler
    </h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <div class="table-responsive text-nowrap m-5">
            <a class="btn btn-success mb-3" asp-area="Admin" asp-controller="Category" asp-action="Add">Category ekle <i class="bx bx-plus"></i></a>
            <table id="categoriesTable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr name="@category.Id">
                            <th>@category.Name</th>
                            <th>@category.CreatedDate.ToShortDateString()</th>
                            <th>@category.CreatedBy</th>
                            <th>@(category.IsDeleted ? "Aktif değil" : "Aktif")</th>
                            <th>
                                <a class="btn btn-primary btn-sm" data-id="@category.Id" asp-area="Admin" asp-controller="Category" asp-action="Update" asp-route-categoryId="@category.Id"><i class="bx bxs-edit"></i></a>
                                <a class="btn btn-danger btn-sm" data-id="@category.Id" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-categoryId="@category.Id"><i class="bx bxs-minus-circle"></i></a>

                            </th>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th>İsim</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <hr class="my-5">
</div>
@section Scripts {
    <script src="~/js/categoryIndex.js" type="application/ecmascript"></script>
}